.idea
cmake-build-debug
resource/data/result/collocation_points.dat
resource/data/result/sphere.dat
resource/data/result/cell_area.dat
resource/data/result/normal_vectors.dat
resource/data/result/tau1_vectors.dat
resource/data/result/tau2_vectors.dat
